services:
    consul:
        image: hashicorp/consul:1.20 # 建议指定具体版本，目前 1.20 是较新版本
        container_name: consul-server
        restart: always
        volumes:
            - ./.consul-data/data:/consul/data
            - ./.consul-data/config:/consul/config
        ports:
            - "18500:8500" # Web UI 和 HTTP API
            - "18600:8600/tcp" # DNS 接口
            - "18600:8600/udp"
        command: "agent -server -bootstrap-expect=1 -ui -client=0.0.0.0"
        environment:
            - CONSUL_BIND_INTERFACE=eth0
        networks:
            - dev-network

networks:
    dev-network: # 隔离网络提升安全性
        external: true  # 关键：声明此网络已在外部创建