services:
    kafbat-ui:
        container_name: kafbat-ui
        image: ghcr.io/kafbat/kafka-ui:latest
        ports:
            - 38080:8080
        environment:
            DYNAMIC_CONFIG_ENABLED: 'true'
        networks:
            - dev-network


networks:
    dev-network: # 隔离网络提升安全性
        external: true  # 关键：声明此网络已在外部创建