services:
    pulsar-standalone:
        image: apachepulsar/pulsar:4.1.1
        container_name: pulsar-standalone
        ports:
            - "16650:6650"
            - "18080:8080"
        volumes:
            - pulsardata:/pulsar/data
            - pulsarconf:/pulsar/conf
        command: bin/pulsar standalone
        restart: unless-stopped
        environment:
            TZ: Asia/Shanghai
            PULSAR_MEM: "-Xms512m -Xmx512m"

volumes:
    pulsardata:
    pulsarconf: